<ion-header>
</ion-header>
<ion-content> 
  <!--logo png on the top of the page-->       
  <!--<img src= "assets/images/Logo.png" class="center">-->
  <!--Top text-->
  <h1>Sign Up Now</h1>
  <p>Please fill the details and create an account</p>
  <hr>
  <!--input fields-->
  <ion-item>
    <ion-input id="firstname" placeholder="Firstname" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input id="lastname" placeholder="Lastname" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input id="email" placeholder="Email" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input id="phonenumber" placeholder="Phone number" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input id="password" placeholder="Password" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input id="password" placeholder="Verify Password" ></ion-input>
  </ion-item>


  
 <!-- <ion-input id="firstname" placeholder="Firstname" class="css"></ion-input>
  <hr>
  <ion-input id="lastname" placeholder="Lastname" class="css"></ion-input>
  <hr>
  <ion-input id="email" placeholder="email" class="css"></ion-input>
  <hr>
  <ion-input id="phonenumber" placeholder="Phone number" class="css"></ion-input>
  <hr>
  <ion-input id="password" placeholder="Password" class="css"></ion-input>
  <hr>
  <ion-input id="password" placeholder="Verify Password" class="css"></ion-input>-->
  <hr>
  <ion-button id="signupButton" expand="block">Signup</ion-button>
    
    <p id="existaccount" class="inline">Already have an account?</p>
    <p id="login" class="inline" (click)="loginButtonFun()">Log in</p>

</ion-content>