ion-title{
    text-align: start;
    font-family: HelveticaNeue;
}

#editItemButton{
    max-width: 90vw;
    max-height: 6vh;
    margin-left: auto;
    margin-right: auto;
    --background: #37373a;
    font-family: PatuaOne-Regular;
    font-size: 17px;
      
}